/* Modo Oscuro */
body.dark-mode {
                background-color: #121212;
                color: #f1f1f1;
            }
            
            .dark-mode a {
                color: #bb86fc;
            }
            
            .dark-mode .site-header {
                background-color: #1f1f1f;
            }
            
            .dark-mode .site-footer {
                background-color: #1f1f1f;
            }
            